<table class="table">
  <thead>
     <tr>
         <th style="width: 150px">RUC</th>
         <th>RAZON SOCIAL</th>
     </tr>
  </thead>

  <tbody>
       <tr *ngFor="let clie of clientes" 
           (click)="selectData(clie)" style="cursor: pointer;">
           <td>{{clie.ruc}}</td>
           <td>{{clie.razonSocial}}</td>
       </tr>
  </tbody>
</table>

