<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="login-box-body">
      <div class="login-logo">
        <a href="../../index2.html"><b>Admin</b>LTE</a>
        <img src="./assets/img/angular2-logo.png" style="height:100px" />
      </div>
      <p class="login-box-msg">Iniciar sesión</p>
      <p class="text-danger">{{ errorMsg }}</p>
      <form novalidate #loginForm="ngForm">
        <div class="form-group has-feedback">
          <input
            type="text"
            class="form-control"
            placeholder="Usuario"
            [(ngModel)]="usuario.username"
            name="username"
            required
          />
          <span
            class="glyphicon glyphicon-envelope form-control-feedback"
          ></span>
        </div>
        <div class="form-group has-feedback">
          <input
            type="password"
            class="form-control"
            placeholder="Contraseña"
            [(ngModel)]="usuario.password"
            name="password"
            required
          />
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <button
            type="button"
            class="btn btn-primary btn-block btn-flat"
            (click)="login()"
            [disabled]="loginForm.invalid || !showLoginBtn"
          >
            Iniciar sesión
          </button>
        </div>
      </form>

      <br />
      <div class="row">
        <div class="col-md-6">
          <a href="https://gitlab.com/dcerrano/tasker" target="_blank"
            ><i class="fa fa-codepen"></i> Código fuente front-end</a
          >
        </div>
        <div class="col-md-6">
          <a href="./assets/pdf/angular6_tutorial.pdf" target="_blank"
            ><i class="fa fa-file-pdf-o"></i> Tutorial front-end</a
          >
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <a href="https://gitlab.com/dcerrano/owlapp" target="_blank">
            <i class="fa fa-codepen"></i> Código fuente back-end</a
          >
        </div>
        <div class="col-md-6">
          <a
            href="./assets/pdf/owl_cursoweb_spring_backend_tutorial.pdf"
            target="_blank"
          >
            <i class="fa fa-file-pdf-o"></i> Tutorial back-end</a
          >
        </div>
      </div>
    </div>
    <!-- /.login-box-body -->
  </div>
</body>
