<button type="button" (click)="onNewButtonClicked()" *ngIf="newButtonEnabled" class="btn btn-primary" style="margin:3px">
    <i class="fa fa-plus-circle"></i>Nuevo</button>

<button type="button" (click)="onSaveButtonClicked()" *ngIf="saveButtonEnabled" [disabled]="form.myForm.form.invalid"
    class="btn btn-info" style="margin:3px"><i class="fa fa-save"></i>Guardar</button>

<button type="button" *ngIf="deleteButtonEnabled" 
class="btn btn-danger" style="margin:3px" 
    data-toggle="modal"
    data-target="#confirm-delete-modal">
    <i class="fa fa-trash"></i>Borrar
</button>

<div class="modal modal-default fade" id="confirm-delete-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Borrado de Registro</h4>
            </div>

            <div class="modal-body">
                <p>Borrar registro?</p>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-info" style="margin:3px"><i class="fa fa-cancel"></i>Cancelar</button>
                <button type="button"  data-dismiss="modal"  class="btn btn-danger" style="margin:3px" (click)="onDeleteButtonClicked()">
                    <i class="fa fa-trash"></i>Borrar
                </button>
            </div>
        </div>
    </div>
</div>