<p class="text-success">{{okMsg}}</p>
<p class="text-danger">{{errorMsg}}</p>
<form #myForm="ngForm">
        <div class="row">
                <div class="col-md-6 form-group">
                        <label>Nombre</label>
                        <input class="form-control" [(ngModel)]="entity.nombre" name="nombre" />
                </div>

                <div class="col-md-6">
                        <app-abm-buttons></app-abm-buttons>
                </div>
        </div>
</form>